@model StickerFire.Models.Campaign
@using System.Security.Claims
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 stickerHeading">
            <h1>@Html.DisplayFor(modelItem => Model.Title)</h1>
        </div>
        <div class="col-lg-4">
            <img class="Sticker" src="@Model.ImgPath">
        </div>
        <div class="col-lg-8 stickerInfo campList">
            <h3>About this Sticker</h3>
            <hr />
            <p>Votes:@Html.DisplayFor(modelItem => Model.Votes) | Views:@Html.DisplayFor(modelItem => Model.Views)</p>
            <h4>@Html.DisplayFor(modelItem => Model.Description)</h4>
        </div>
        <div class="container">
            @if (Model.Votes < 25)
            {
                <h3>Goal Progress</h3>
            }
            else
            {
                <h3>Goal Reached!</h3>
            }
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Votes" aria-valuemin="0" aria-valuemax="25" style="width:@(Model.Votes*4)%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div class="col-lg-3 vote">
                @if (!User.Identities.Any(u => u.IsAuthenticated))
                {

                    <form>
                              <a asp-controller="UserAuth" asp-action="Index" class="btn-lg">Vote!</a>
                    </form>
                }
                else
                {
                    <form asp-controller="Campaign" asp-action="Vote" asp-route-id="@Model.ID">

                        <button type="submit" class="btn-lg">Vote!</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>



